:root {
    --clr-text: #5a5a5a;
    --clr-primary: #067e0a;
    --clr-primary-dark: #052e07;
    --clr-accent: #764981;
    --clr-accent-dark: #311737;
    --ff-title: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    --ff-serif: "Crimson Text", sans-serif;
    --ff-logo: cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 1.25rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%; 
 }

section {
    padding: 2em 1em;
 }

.mb-0 {
    margin-bottom: 0;
}

/* Typography */

h1, h2, h3, h4, p {
    margin: 0;
}

h2, h3 {
   font-family: var(--ff-title);
   line-height: 1;

   
}

h2 {
    font-size: 3rem;
}

p{
    margin-bottom: .85em;
}

p:last-child {
    margin-bottom: 0;
}

.section-title-small {
    font-size: 2rem;
}

.section-title-small small {
    font-size: 0.7em;
    display: block;
}

.text-primary {
    color: var(--clr-primary);
}

.logo {
    font-family: var(--ff-logo);
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

/* navigation */

header {
    padding: 1em 0 2em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: var(--clr-accent);
    text-decoration: underline;
}

/* buttons */

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    
    
}

.btn {
    padding: .35em 1.5em;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: 0.25em;
}

.btn-primary {
    background: var(--clr-primary);
    flex-wrap: wrap;
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--clr-primary-dark);
}

.btn-accent {
    background: var(--clr-accent);
}

.btn-accent:hover, 
.btn-accent:focus {
    background: var(--clr-accent-dark);
}

/* Homepage styles */

.hero {
    background-color: #555;
    background-image: url(../img/carousel6.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 15vh 1em;
}


.about-us {
    background: var(--clr-accent);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.about-us__intro {
    background-image: url(../img/carousel5.jpg);
    padding: 2em 1em 1.5em;
}

.about-us__body {
    padding: 1.5em 1em 2em;
}

.order-online {
    background: #f0f0f0;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product {
    border-radius: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.product:last-of-type {
    margin-bottom: 4em;
}

.product__content {
    padding: 1.5em;
    /* max-height: fit-content; */
}

.product__title {
    color: var(--clr-primary);
    font-size: 2.5rem;
}

.fineprint {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.85);
}

footer {
    background: var(--clr-primary-dark);
    padding: 3em 1em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

footer a {
    color: inherit;
}

.footer-nav, .footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    padding: 0.75em;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    list-style: none;
}

.social-icon {
    max-width: 50px;
}

@media only screen and (min-width: 750px) {
    section {
        padding: 6em 1em;
    }

    .btn-group {
        flex-direction: row;
        justify-content: center;
    }

    .btn + .btn {
        margin-left: 0.5em;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us__intro,
    .about-us__body {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 4em 2em;
        justify-content: center;
    }

    .about-us__intro {
        text-align: right;
    }

    .about-us__intro > * {
        max-width: 27em;
        margin-left: auto;
    }

    .about-us__body {
        text-align: left;
    }

    .about-us__body > * {
        max-width: 27em;
        margin-right: auto;
    }

    .order-online > * {
        max-width: 70ch;
        margin-left: auto;
        margin-right: auto;

    }

    .order-online {
        display: grid;
    }

    .products {
        flex-direction: row;
        /* max-width: 1200px; */
        padding: 0 5em;
    }

    .product {
        margin: 0;
        flex: 0 1 33%;
    }

    .product + .product {
        margin-left: 1em;
    }

    .product:last-of-type {
        margin-bottom: 0;
    }
    
}